.fan-container {
  display: flex;
  justify-content: center;
}

.support-card {
  margin-top: 48px;
}

.support-form {
  margin-top: 16px;
}

.outline-kbtn {
  border-color: '#A95BEB';
}

.outline-kbtn:hover {
  border-color: blueviolet;
}
